.done-homepage-chua-dang-nh-child {
  position: absolute;
  top: 114px;
  left: 0;
  width: 100%;
  height: 738px;
  object-fit: cover;
}
.f-green {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.f-green-wrapper,
.group-child {
  position: absolute;
  top: 0;
  left: 51px;
  width: 212px;
  height: 58px;
}
.group-child {
  top: 12px;
  left: 0;
  border-radius: 0 var(--br-81xl) 0 var(--br-81xl);
  background-color: var(--color-darkolivegreen);
  width: 25px;
  height: 33px;
}
.group-parent {
  position: absolute;
  top: 1017px;
  left: 242px;
  width: 263px;
  height: 58px;
  font-size: var(--font-size-29xl);
}
.f-green-is-dedicated,
.utilizing-advanced-technologie {
  position: absolute;
  top: 107px;
  left: 129px;
  display: inline-block;
  width: 632px;
  height: 246px;
}
.utilizing-advanced-technologie {
  top: 478px;
  left: 571px;
  width: 505px;
  height: 284px;
}
.pngtreecartoon-potted-plants,
.pngtreesmall-leaf-osmanthus-p {
  position: absolute;
  top: 293px;
  left: 0;
  width: 609px;
  height: 609px;
  object-fit: cover;
}
.pngtreesmall-leaf-osmanthus-p {
  top: 0;
  left: 767px;
  width: 434px;
  height: 434px;
}
.f-green-is-dedicated-to-enviro-parent {
  position: absolute;
  top: 1012px;
  left: 119px;
  width: 1201px;
  height: 902px;
  text-align: justify;
  
}
.group-div,
.plastic-cups-grow-plants-wrapper {
  position: absolute;
  top: 0;
  left: 51px;
  width: 719px;
  height: 58px;
}
.group-div {
  left: 493px;
  width: 770px;
}
.untitled-1-1-icon {
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 774px;
  object-fit: cover;
}
.import-your-code {
  position: relative;
}
.import-your-code-wrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 85px);
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.frame-wrapper {
  position: absolute;
  top: 102px;
  left: calc(50% - 166.5px);
  width: 170px;
  height: 39px;
  text-align: left;
  font-size: var(--font-size-base);
}
.n-1-icon,
.n-1-icon1,
.n-1-icon2,
.n-1-icon3,
.n-1-icon4 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 167px;
  height: 167px;
  object-fit: cover;
}
.n-1-icon1,
.n-1-icon2,
.n-1-icon3,
.n-1-icon4 {
  left: 281px;
  width: 168px;
}
.n-1-icon2,
.n-1-icon3,
.n-1-icon4 {
  left: 559px;
  width: 167px;
}
.n-1-icon3,
.n-1-icon4 {
  left: 822px;
}
.n-1-icon4 {
  left: 1083px;
  width: 166px;
}
.n-1-icon5,
.n-1-icon6 {
  width: 167.4px;
  object-fit: cover;
}
.n-1-icon5 {
  position: absolute;
  top: 0;
  left: 413.5px;
  height: 167.4px;
}
.n-1-icon6 {
  left: 206.8px;
}
.n-1-group,
.n-1-icon6,
.n-1-icon7 {
  position: absolute;
  top: 0;
  height: 167.4px;
}
.n-1-icon7 {
  left: 0;
  width: 167.4px;
  object-fit: cover;
}
.n-1-group {
  left: 1339.1px;
  width: 580.9px;
}
.group-container,
.n-1-parent {
  position: absolute;
  top: 1008px;
  left: 0;
  width: 1920px;
  height: 169px;
}
.group-container {
  top: 2034px;
  left: -159px;
  height: 1177px;
  font-size: var(--font-size-29xl);
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-lightgoldenrodyellow);
}
.e-events-wrapper,
.homepage-wrapper,
.qa-wrapper,
.trade-plants-wrapper {
  position: absolute;
  height: 38.6%;
  top: 30.7%;
  bottom: 30.7%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.homepage-wrapper {
  width: 10%;
  right: 68.47%;
  left: 21.53%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.e-events-wrapper,
.qa-wrapper,
.trade-plants-wrapper {
  width: 8.68%;
  right: 58.4%;
  left: 32.92%;
}
.qa-wrapper,
.trade-plants-wrapper {
  width: 10.83%;
  right: 46.18%;
  left: 42.99%;
}
.qa-wrapper {
  width: 5.69%;
  right: 39.1%;
  left: 55.21%;
}
.about-us {
  position: relative;
  white-space: pre-wrap;
}
.about-us-wrapper {
  width: 9.1%;
  right: 28.61%;
  left: 62.29%;
}
.about-us-wrapper,
.log-in-wrapper,
.register-wrapper {
  position: absolute;
  height: 38.6%;
  top: 30.7%;
  bottom: 30.7%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.log-in-wrapper {
  width: 6.81%;
  right: 16.53%;
  left: 76.67%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.register-wrapper {
  width: 8.19%;
  right: 6.94%;
  left: 84.86%;
}
.logo-trng-i-hc-fptsvg-icon {
  position: absolute;
  height: 64.91%;
  width: 13.19%;
  top: 19.3%;
  right: 79.86%;
  bottom: 15.79%;
  left: 6.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.event-wrapper,
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.event-wrapper {
  left: 461px;
  width: 161px;
  height: 58px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.group-inner {
  position: absolute;
  top: 13px;
  left: 401px;
  border-radius: 0 var(--br-81xl) 0 var(--br-81xl);
  background-color: var(--color-darkolivegreen);
  width: 25px;
  height: 33px;
}
.instance-inner,
.instance-item {
  position: absolute;
  border-radius: var(--br-xl);
}
.instance-item {
  height: 96.73%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 3.27%;
  left: 0;
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
}
.instance-inner {
  height: 48.14%;
  width: 93.93%;
  top: 2.68%;
  right: 3.02%;
  bottom: 49.18%;
  left: 3.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.over-the-past,
.thursday-july-11 {
  position: absolute;
  height: 4.99%;
  width: 94%;
  top: 53.3%;
  left: 3.02%;
  display: inline-block;
}
.over-the-past {
  height: 12.03%;
  top: 69.3%;
  font-size: var(--font-size-xs);
  font-weight: 300;
}
.icround-people-alt-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.icround-people-alt-parent {
  position: absolute;
  height: 11.27%;
  width: 43.73%;
  top: 81.13%;
  right: 56.27%;
  bottom: 7.61%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.for-national-greenenv {
  position: absolute;
  height: 6.03%;
  width: 94%;
  top: 61.61%;
  left: 3.02%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
}
.material-symbolsstar-parent,
.mdishare-parent {
  position: absolute;
  height: 9.01%;
  top: 90.99%;
  bottom: 0;
  left: calc(50% - 61.5px);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 92px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
}
.mdishare-parent {
  left: calc(50% + 42.5px);
  width: 91px;
  overflow: hidden;
}
.rectangle-container,
.rectangle-group,
.rectangle-parent1 {
  position: absolute;
  top: 105px;
  left: 1px;
  width: 295px;
  height: 355px;
}
.rectangle-container,
.rectangle-parent1 {
  left: 356px;
}
.rectangle-parent1 {
  left: 711px;
}
.instance-child3,
.instance-child4 {
  position: absolute;
  border-radius: var(--br-xl);
}
.instance-child3 {
  height: 96.95%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 3.05%;
  left: 0;
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
}
.instance-child4 {
  height: 45.03%;
  width: 93.93%;
  top: 2.5%;
  right: 3.02%;
  bottom: 52.47%;
  left: 3.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.this-year-all {
  position: absolute;
  height: 10.87%;
  width: 94%;
  top: 62.53%;
  left: 3.02%;
  font-size: var(--font-size-xs);
  font-weight: 300;
  display: inline-block;
}
.donors {
  position: relative;
  font-weight: 300;
}
.frame-div {
  position: absolute;
  height: 10.53%;
  width: 42.71%;
  top: 83.08%;
  right: 59.02%;
  bottom: 6.39%;
  left: -1.73%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.kendals-fundraiser-for {
  position: absolute;
  height: 11.11%;
  width: 93.93%;
  top: 49.84%;
  left: 3.05%;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  display: inline-block;
}
.donated-143023707-vnd11496 {
  position: absolute;
  height: 64.52%;
  width: 99.49%;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
}
.group-child1 {
  position: absolute;
  height: 24.42%;
  width: 100%;
  top: 75.58%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-forestgreen);
}
.donated-143023707-vnd11496-parent {
  position: absolute;
  height: 5.71%;
  width: 92.68%;
  top: 76.32%;
  right: 4.27%;
  bottom: 17.97%;
  left: 3.05%;
  font-size: var(--font-size-xs);
}
.mdishare-parent1 {
  position: absolute;
  height: 8.42%;
  width: 30.85%;
  top: 92.63%;
  right: 4.75%;
  bottom: -1.05%;
  left: 64.41%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
}
.rectangle-parent2 {
  position: absolute;
  top: 540px;
  left: 0;
  width: 295px;
  height: 380px;
}
.group-parent1,
.rectangle-parent3,
.rectangle-parent4 {
  position: absolute;
  top: 540px;
  left: 355px;
  width: 295px;
  height: 380px;
}
.group-parent1,
.rectangle-parent4 {
  left: 710px;
}
.group-parent1 {
  top: 3331px;
  left: 217px;
  width: 1006px;
  height: 920px;
  text-align: justify;
}
.instance-child9 {
  height: 78.07%;
  width: 100%;
  top: 14.91%;
  right: 0;
  bottom: 7.02%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
}
.activities,
.e-events1,
.instance-child9 {
  position: absolute;
  left: 0;
}
.activities {
  top: 0;
  font-weight: 600;
}
.e-events1 {
  top: 38.27%;
}
.activities-parent,
.plastic-cups-grow1 {
  position: absolute;
  top: 76.54%;
  left: 0;
}
.activities-parent {
  height: 35.06%;
  width: 100%;
  top: 64.94%;
  right: 0;
  bottom: 0;
}
.homepage1 {
  top: 27.68%;
}
.about-us1,
.homepage1,
.qa1 {
  position: absolute;
  left: 0;
}
.qa1 {
  width: 100%;
  top: 83.04%;
  display: inline-block;
}
.about-us1 {
  top: 55.36%;
}
.f-green-parent,
.group-parent2 {
  position: absolute;
  height: 48.48%;
  width: 63.04%;
  top: 0;
  right: 36.96%;
  bottom: 51.52%;
  left: 0;
}
.group-parent2 {
  height: 50.66%;
  width: 14.84%;
  top: 29.61%;
  right: 43.87%;
  bottom: 19.74%;
  left: 41.29%;
}
.logo-trng-i-hc-fptsvg-icon1 {
  position: absolute;
  height: 39.92%;
  width: 83.81%;
  top: 0;
  right: 16.19%;
  bottom: 60.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.the-f-green-website {
  position: absolute;
  height: 43.8%;
  width: 100%;
  top: 56.2%;
  left: 0;
  display: inline-block;
}
.logo-trng-i-hc-fptsvg-parent {
  position: absolute;
  height: 56.58%;
  width: 25.4%;
  top: 22.81%;
  right: 66.94%;
  bottom: 20.61%;
  left: 7.66%;
  text-align: justify;
}
.phone-number {
  font-weight: 500;
}
.phone-number-0123-345-678-container {
  position: absolute;
  top: 23.66%;
  left: 0;
}
.address-fpt-university-container {
  position: absolute;
  width: 100%;
  top: 70.99%;
  left: 0;
  display: inline-block;
}
.contact-with-us-parent,
.email-fgreengmailcom {
  position: absolute;
  top: 47.33%;
  left: 0;
}
.contact-with-us-parent {
  height: 56.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 43.29%;
}
.copyright-belongs-to {
  position: absolute;
  top: 91.77%;
  left: 0;
  font-weight: 300;
}
.group-parent3 {
  position: absolute;
  height: 50.66%;
  width: 28.55%;
  top: 29.61%;
  right: 5.4%;
  bottom: 19.74%;
  left: 66.05%;
}
.rectangle-parent5 {
  position: absolute;
  top: 4321px;
  left: calc(50% - 620px);
  width: 1240px;
  height: 456px;
  text-align: left;
}
.done-homepage-chua-dang-nh {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 4756px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkolivegreen);
  font-family: var(--font-inter);
}
