.instance-child67 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-lightgoldenrodyellow);
}
.homepage17 {
  position: relative;
}
.e-events-wrapper8,
.homepage-wrapper8,
.qa-wrapper8,
.trade-plants-wrapper8 {
  position: absolute;
  height: 38.6%;
  width: 10%;
  top: 30.7%;
  right: 68.47%;
  bottom: 30.7%;
  left: 21.53%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.e-events-wrapper8,
.qa-wrapper8,
.trade-plants-wrapper8 {
  width: 8.68%;
  right: 58.4%;
  left: 32.92%;
}
.qa-wrapper8,
.trade-plants-wrapper8 {
  width: 10.83%;
  right: 46.18%;
  left: 42.99%;
}
.qa-wrapper8 {
  width: 5.69%;
  right: 39.1%;
  left: 55.21%;
}
.about-us17 {
  position: relative;
  white-space: pre-wrap;
}
.about-us-wrapper8 {
  width: 9.1%;
  right: 28.61%;
  left: 62.29%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.about-us-wrapper8,
.log-in-wrapper9,
.register-wrapper10 {
  position: absolute;
  height: 38.6%;
  top: 30.7%;
  bottom: 30.7%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.log-in-wrapper9 {
  width: 9.1%;
  right: 14.24%;
  left: 76.67%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.register-wrapper10 {
  width: 5.9%;
  right: 6.94%;
  left: 87.15%;
}
.logo-trng-i-hc-fptsvg-icon17 {
  position: absolute;
  height: 64.91%;
  width: 13.19%;
  top: 19.3%;
  right: 79.86%;
  bottom: 15.79%;
  left: 6.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent45 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114px;
  text-align: left;
}
.instance-child68 {
  position: absolute;
  height: 78.07%;
  width: 100%;
  top: 14.91%;
  right: 0;
  bottom: 7.02%;
  left: 0;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
}
.activities7 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.e-events18 {
  position: absolute;
  top: 38.27%;
  left: 0;
}
.activities-parent5,
.plastic-cups-grow9 {
  position: absolute;
  top: 76.54%;
  left: 0;
}
.activities-parent5 {
  height: 35.06%;
  width: 100%;
  top: 64.94%;
  right: 0;
  bottom: 0;
}
.homepage18 {
  top: 27.68%;
}
.about-us18,
.homepage18,
.qa18 {
  position: absolute;
  left: 0;
}
.qa18 {
  width: 100%;
  top: 83.04%;
  display: inline-block;
}
.about-us18 {
  top: 55.36%;
}
.f-green-parent6,
.group-parent43 {
  position: absolute;
  height: 48.48%;
  width: 63.04%;
  top: 0;
  right: 36.96%;
  bottom: 51.52%;
  left: 0;
}
.group-parent43 {
  height: 50.66%;
  width: 14.84%;
  top: 29.61%;
  right: 43.87%;
  bottom: 19.74%;
  left: 41.29%;
}
.logo-trng-i-hc-fptsvg-icon18 {
  position: absolute;
  height: 39.92%;
  width: 83.81%;
  top: 0;
  right: 16.19%;
  bottom: 60.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.the-f-green-website10 {
  position: absolute;
  height: 43.8%;
  width: 100%;
  top: 56.2%;
  left: 0;
  display: inline-block;
}
.logo-trng-i-hc-fptsvg-parent5 {
  position: absolute;
  height: 56.58%;
  width: 25.4%;
  top: 22.81%;
  right: 66.94%;
  bottom: 20.61%;
  left: 7.66%;
  text-align: justify;
}
.phone-number9 {
  font-weight: 500;
}
.phone-number-0123-345-678-container7 {
  position: absolute;
  top: 23.66%;
  left: 0;
}
.address-fpt-university-container7 {
  position: absolute;
  width: 100%;
  top: 70.99%;
  left: 0;
  display: inline-block;
}
.email-fgreengmailcom7 {
  position: absolute;
  top: 47.33%;
  left: 0;
}
.contact-with-us-parent5 {
  position: absolute;
  height: 56.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 43.29%;
  left: 0;
}
.copyright-belongs-to7 {
  position: absolute;
  top: 91.77%;
  left: 0;
  font-weight: 300;
}
.group-parent44 {
  position: absolute;
  height: 50.66%;
  width: 28.55%;
  top: 29.61%;
  right: 5.4%;
  bottom: 19.74%;
  left: 66.05%;
}
.rectangle-parent46 {
  position: absolute;
  top: 2773px;
  left: calc(50% - 620px);
  width: 1240px;
  height: 456px;
  text-align: left;
  font-size: var(--font-size-base);
}
.done-e-event-child3 {
  position: absolute;
  top: 114px;
  left: -1px;
  width: 100%;
  height: 736px;
  object-fit: cover;
}
.event4 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.event-wrapper2,
.group-child67 {
  position: absolute;
  top: 0;
  left: 36.2px;
  width: 121px;
  height: 44px;
}
.group-child67 {
  top: 12px;
  left: 0;
  border-radius: 0 var(--br-81xl) 0 var(--br-81xl);
  background-color: var(--color-darkolivegreen);
  width: 15.6px;
  height: 20.6px;
}
.group-parent46 {
  position: absolute;
  top: 0;
  left: 129.5px;
  width: 157.2px;
  height: 44px;
}
.fundraising-campaign {
  position: absolute;
  top: 46.1px;
  left: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.group-parent45 {
  position: absolute;
  top: 936px;
  left: 495px;
  width: 451px;
  height: 90.1px;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.done-e-event-child4 {
  position: absolute;
  top: 1110px;
  left: 185px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-14xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgoldenrodyellow);
  box-sizing: border-box;
  width: 1072px;
  height: 198px;
}
.target {
  position: absolute;
  top: 1123px;
  left: 223px;
  line-height: 52px;
  font-weight: 600;
}
.days-left,
.donated-143023707-vnd1149612,
.in-143-days {
  position: absolute;
  top: 1147px;
  left: 223px;
  font-size: var(--font-size-xs);
  line-height: 52px;
}
.days-left,
.in-143-days {
  top: 1193px;
}
.days-left {
  top: 1146px;
  left: 1147px;
}
.mdiinformation-icon {
  position: absolute;
  top: 1167px;
  left: 479px;
  width: 10px;
  height: 10px;
  overflow: hidden;
}
.done-e-event-child5 {
  position: absolute;
  top: 1187px;
  left: 223px;
  border-radius: var(--br-3xs);
  background-color: var(--color-forestgreen);
  width: 991px;
  height: 11px;
}
.done-e-event-child6 {
  position: absolute;
  top: 1236px;
  left: 223px;
  border-radius: 12px;
  background-color: var(--color-lightgoldenrodyellow);
  width: 991px;
  height: 46px;
}
.bxsshare-icon {
  position: absolute;
  top: 16.7px;
  left: 0;
  width: 18.7px;
  height: 18.7px;
  overflow: hidden;
  object-fit: contain;
}
.share28 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 52px;
}
.bxsshare-parent {
  position: absolute;
  top: 1233px;
  left: 678px;
  width: 81px;
  height: 52px;
}
.done-e-event-child7 {
  position: absolute;
  top: 1335px;
  left: 185px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-14xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgoldenrodyellow);
  box-sizing: border-box;
  width: 646px;
  height: 816px;
}
.this-year-im {
  margin: 0;
}
.climate-ride-mobilizes {
  margin-bottom: 0;
}
.climate-ride-mobilizes-people {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.this-year-im-container {
  position: absolute;
  top: 1403px;
  left: 223px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 575px;
  height: 449px;
}
.introduction {
  position: absolute;
  top: 1360px;
  left: 223px;
  line-height: 52px;
  font-weight: 600;
}
.kendal-peirce20-thng {
  position: absolute;
  top: 2104px;
  left: 223px;
  font-size: var(--font-size-base);
  font-weight: 500;
}
.done-e-event-child8 {
  position: absolute;
  top: 1359px;
  left: 962px;
  border-radius: 50%;
  width: 192px;
  height: 192px;
  object-fit: cover;
}
.kendals-fundraiser-for-container {
  position: absolute;
  top: 1571px;
  left: 911px;
  font-weight: 500;
  text-align: center;
}
.group-child68 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-14xl);
  background-color: var(--color-lightgoldenrodyellow);
  width: 403px;
  height: 153.2px;
}
.progress-of-the {
  position: absolute;
  top: 26.8px;
  left: 22.5px;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.donated,
.invited,
.shared {
  position: absolute;
  top: 115.9px;
  left: 42.3px;
}
.invited,
.shared {
  left: 178.3px;
}
.shared {
  top: 114px;
  left: 305.1px;
}
.div6,
.div7,
.div8 {
  position: absolute;
  top: 66.4px;
  left: 50.3px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
}
.div7,
.div8 {
  left: 183.5px;
}
.div8 {
  top: 64.5px;
  left: 309.6px;
}
.rectangle-parent47 {
  position: absolute;
  top: 1703px;
  left: 854px;
  width: 403px;
  height: 153.2px;
  text-align: center;
  font-size: var(--font-size-base);
}
.done-e-event-child9 {
  position: absolute;
  top: 1894.5px;
  left: 854.3px;
  border-radius: var(--br-14xl);
  background-color: var(--color-darkolivegreen);
  width: 403px;
  height: 66px;
}
.explore {
  position: absolute;
  top: 1913px;
  left: 1002px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
}
.mask-group-icon,
.mask-group-icon1 {
  position: absolute;
  top: 2224.8px;
  left: 184px;
  width: 382.5px;
  height: 510.2px;
  object-fit: contain;
}
.mask-group-icon1 {
  top: 2224px;
  left: 583.3px;
  width: 672.1px;
  height: 510.8px;
}
.done-e-event2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3219px;
  overflow: hidden;
  text-align: justify;
  font-size: var(--font-size-xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-inter);
}
