.done-plastic-cups-grow-plant-item {
  position: absolute;
  top: 114px;
  left: 0;
  width: 100%;
  height: 736px;
  object-fit: cover;
}
.plastic-cups-grow16 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.group-child81,
.plastic-cups-grow-plants-wrapper2 {
  position: absolute;
  top: 0;
  left: 41px;
  width: 719px;
  height: 58px;
}
.group-child81 {
  top: 13px;
  left: 0;
  border-radius: 0 var(--br-81xl) 0 var(--br-81xl);
  background-color: var(--color-darkolivegreen);
  width: 25px;
  height: 33px;
}
.group-parent62,
.group-parent64 {
  position: absolute;
  top: 962px;
  left: 340px;
  width: 760px;
  height: 58px;
}
.group-parent64 {
  top: 0;
  left: 0;
}
.get-the-code {
  position: relative;
}
.get-the-code-for-your-store-wrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 122.5px);
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.frame-wrapper5 {
  position: absolute;
  top: 100px;
  left: calc(50% - 123px);
  width: 245px;
  height: 39px;
  text-align: left;
  font-size: var(--font-size-base);
}
.group-parent63 {
  align-content: center;
  position: absolute;
  top: 962px;
  left: 340px;

  width: 760px;
  height: 139px;
}
.instance-child83 {
  position: absolute;
  height: 78.07%;
  width: 100%;
  top: 14.91%;
  right: 0;
  bottom: 7.02%;
  left: 0;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
}
.activities12 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.e-events27 {
  position: absolute;
  top: 38.27%;
  left: 0;
}
.activities-parent10,
.plastic-cups-grow18 {
  position: absolute;
  top: 76.54%;
  left: 0;
}
.activities-parent10 {
  height: 35.06%;
  width: 100%;
  top: 64.94%;
  right: 0;
  bottom: 0;
}
.homepage27 {
  top: 27.68%;
}
.about-us27,
.homepage27,
.qa29 {
  position: absolute;
  left: 0;
}
.qa29 {
  width: 100%;
  top: 83.04%;
  display: inline-block;
}
.about-us27 {
  top: 55.36%;
}
.f-green-parent11,
.group-parent65 {
  position: absolute;
  height: 48.48%;
  width: 63.04%;
  top: 0;
  right: 36.96%;
  bottom: 51.52%;
  left: 0;
}
.group-parent65 {
  height: 50.66%;
  width: 14.84%;
  top: 29.61%;
  right: 43.87%;
  bottom: 19.74%;
  left: 41.29%;
}
.logo-trng-i-hc-fptsvg-icon27 {
  position: absolute;
  height: 39.92%;
  width: 83.81%;
  top: 0;
  right: 16.19%;
  bottom: 60.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.the-f-green-website15 {
  position: absolute;
  height: 43.8%;
  width: 100%;
  top: 56.2%;
  left: 0;
  display: inline-block;
}
.logo-trng-i-hc-fptsvg-parent10 {
  position: absolute;
  height: 56.58%;
  width: 25.4%;
  top: 22.81%;
  right: 66.94%;
  bottom: 20.61%;
  left: 7.66%;
  text-align: justify;
}
.phone-number14 {
  font-weight: 500;
}
.phone-number-0123-345-678-container12 {
  position: absolute;
  top: 23.66%;
  left: 0;
}
.address-fpt-university-container12 {
  position: absolute;
  width: 100%;
  top: 70.99%;
  left: 0;
  display: inline-block;
}
.email-fgreengmailcom12 {
  position: absolute;
  top: 47.33%;
  left: 0;
}
.contact-with-us-parent10 {
  position: absolute;
  height: 56.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 43.29%;
  left: 0;
}
.copyright-belongs-to12 {
  position: absolute;
  top: 91.77%;
  left: 0;
  font-weight: 300;
}
.group-parent66 {
  position: absolute;
  height: 50.66%;
  width: 28.55%;
  top: 29.61%;
  right: 5.4%;
  bottom: 19.74%;
  left: 66.05%;
}
.rectangle-parent61 {
  position: absolute;
  top: 1176px;
  left: calc(50% - 620px);
  width: 1240px;
  height: 456px;
  text-align: left;
  font-size: var(--font-size-base);
}
.instance-child84 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-lightgoldenrodyellow);
}
.homepage-wrapper13 {
  position: absolute;
  height: 38.6%;
  width: 10%;
  top: 30.7%;
  right: 68.47%;
  bottom: 30.7%;
  left: 21.53%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.e-events-wrapper13 {
  width: 8.68%;
  right: 58.4%;
  left: 32.92%;
}
.e-events-wrapper13,
.qa-wrapper15,
.trade-plants-wrapper13 {
  position: absolute;
  height: 38.6%;
  top: 30.7%;
  bottom: 30.7%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.trade-plants-wrapper13 {
  width: 10.83%;
  right: 46.18%;
  left: 42.99%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.qa-wrapper15 {
  width: 5.69%;
  right: 39.1%;
  left: 55.21%;
}
.about-us28 {
  position: relative;
  white-space: pre-wrap;
}
.about-us-wrapper13 {
  width: 9.1%;
  right: 28.61%;
  left: 62.29%;
}
.about-us-wrapper13,
.log-in-wrapper14,
.user-container {
  position: absolute;
  height: 38.6%;
  top: 30.7%;
  bottom: 30.7%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.log-in-wrapper14 {
  width: 10.42%;
  right: 14.24%;
  left: 75.35%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.user-container {
  width: 5.9%;
  right: 6.94%;
  left: 87.15%;
}
.logo-trng-i-hc-fptsvg-icon28 {
  position: absolute;
  height: 62.91%;
  width: 12.19%;
  top: 19.3%;
  right: 79.86%;
  bottom: 15.79%;
  left: 6.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent62 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.done-plastic-cups-grow-plant1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1632px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-inter);
}
