.doneplastic-cups-grow-plants-child {
  position: absolute;
  left: 0;
  width: 100%;
  height: 736px;
  object-fit: cover;
}
.plastic-cups-grow14 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.group-child79,
.plastic-cups-grow-plants-wrapper1 {
  position: absolute;
  top: 0;
  left: 41px;
  width: 719px;
  height: 58px;
}
.group-child79 {
  top: 13px;
  left: 0;
  border-radius: 0 var(--br-81xl) 0 var(--br-81xl);
  background-color: var(--color-darkolivegreen);
  width: 25px;
  height: 33px;
}
.group-parent58 {
  position: absolute;
  top: 0;
  left: 0;
  width: 760px;
  height: 58px;
}
.enter-the-customer {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 208px);
}
.group-child80 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 454px;
  height: 44px;
}
.enter-the-customer-code-parent {
  position: absolute;
  top: calc(50% - 59.5px);
  left: calc(50% - 227px);
  width: 454px;
  height: 44px;
}
.frame-wrapper4,
.import-container {
  position: absolute;
  left: calc(50% - 45px);
}
.import-container {
  top: 0;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.frame-wrapper4 {
  top: 80px;
  width: 90px;
  height: 39px;
}
.group-parent59 {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 227px);
  width: 454px;
  height: 119px;
  text-align: left;
  font-size: var(--font-size-base);
}
.group-parent57 {
  position: absolute;
  top: 962px;
  left: 340px;
  width: 760px;
  height: 217px;
  text-align: center;
}
.instance-child81 {
  position: absolute;
  height: 78.07%;
  width: 100%;
  top: 14.91%;
  right: 0;
  bottom: 7.02%;
  left: 0;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
}
.activities11 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.e-events25 {
  position: absolute;
  top: 38.27%;
  left: 0;
}
.activities-parent9,
.plastic-cups-grow15 {
  position: absolute;
  top: 76.54%;
  left: 0;
}
.activities-parent9 {
  height: 35.06%;
  width: 100%;
  top: 64.94%;
  right: 0;
  bottom: 0;
}
.homepage25 {
  top: 27.68%;
}
.about-us25,
.homepage25,
.qa27 {
  position: absolute;
  left: 0;
}
.qa27 {
  width: 100%;
  top: 83.04%;
  display: inline-block;
}
.about-us25 {
  top: 55.36%;
}
.f-green-parent10,
.group-parent60 {
  position: absolute;
  height: 48.48%;
  width: 63.04%;
  top: 0;
  right: 36.96%;
  bottom: 51.52%;
  left: 0;
}
.group-parent60 {
  height: 50.66%;
  width: 14.84%;
  top: 29.61%;
  right: 43.87%;
  bottom: 19.74%;
  left: 41.29%;
}
.logo-trng-i-hc-fptsvg-icon25 {
  position: absolute;
  height: 39.92%;
  width: 83.81%;
  top: 0;
  right: 16.19%;
  bottom: 60.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.the-f-green-website14 {
  position: absolute;
  height: 43.8%;
  width: 100%;
  top: 56.2%;
  left: 0;
  display: inline-block;
}
.logo-trng-i-hc-fptsvg-parent9 {
  position: absolute;
  height: 56.58%;
  width: 25.4%;
  top: 22.81%;
  right: 66.94%;
  bottom: 20.61%;
  left: 7.66%;
  text-align: justify;
}
.phone-number13 {
  font-weight: 500;
}
.phone-number-0123-345-678-container11 {
  position: absolute;
  top: 23.66%;
  left: 0;
}
.address-fpt-university-container11 {
  position: absolute;
  width: 100%;
  top: 70.99%;
  left: 0;
  display: inline-block;
}
.email-fgreengmailcom11 {
  position: absolute;
  top: 47.33%;
  left: 0;
}
.contact-with-us-parent9 {
  position: absolute;
  height: 56.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 43.29%;
  left: 0;
}
.copyright-belongs-to11 {
  position: absolute;
  top: 91.77%;
  left: 0;
  font-weight: 300;
}
.group-parent61 {
  position: absolute;
  height: 50.66%;
  width: 28.55%;
  top: 29.61%;
  right: 5.4%;
  bottom: 19.74%;
  left: 66.05%;
}
.rectangle-parent59 {
  position: absolute;
  top: 1254px;
  left: calc(50% - 620px);
  width: 1240px;
  height: 456px;
  font-size: var(--font-size-base);
}
.instance-child82 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-lightgoldenrodyellow);
}
.homepage-wrapper12 {
  position: absolute;
  height: 38.6%;
  width: 10%;
  top: 30.7%;
  right: 68.47%;
  bottom: 30.7%;
  left: 21.53%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.e-events-wrapper12 {
  width: 8.68%;
  right: 58.4%;
  left: 32.92%;
}
.e-events-wrapper12,
.qa-wrapper14,
.trade-plants-wrapper12 {
  position: absolute;
  height: 38.6%;
  top: 30.7%;
  bottom: 30.7%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.trade-plants-wrapper12 {
  width: 10.83%;
  right: 46.18%;
  left: 42.99%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.qa-wrapper14 {
  width: 5.69%;
  right: 39.1%;
  left: 55.21%;
}
.about-us26 {
  position: relative;
  white-space: pre-wrap;
}
.about-us-wrapper12,
.log-in-wrapper13 {
  position: absolute;
  height: 38.6%;
  width: 9.1%;
  top: 30.7%;
  right: 28.61%;
  bottom: 30.7%;
  left: 62.29%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.log-in-wrapper13 {
  width: 10.42%;
  right: 14.24%;
  left: 75.35%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.user {
  position: relative;
}
.user-wrapper {
  position: absolute;
  height: 38.6%;
  width: 5.9%;
  top: 30.7%;
  right: 6.94%;
  bottom: 30.7%;
  left: 87.15%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.logo-trng-i-hc-fptsvg-icon26 {
  position: absolute;
  height: 64.91%;
  width: 13.19%;
  top: 19.3%;
  right: 79.86%;
  bottom: 15.79%;
  left: 6.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent60 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114px;
  font-size: var(--font-size-xl);
}
.doneplastic-cups-grow-plants- {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1710px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-inter);
}
