.instance-child31 {
  position: absolute;
  height: 78.07%;
  width: 100%;
  top: 14.91%;
  right: 0;
  bottom: 7.02%;
  left: 0;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
}
.activities4 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.e-events11 {
  position: absolute;
  top: 38.27%;
  left: 0;
}
.activities-parent2,
.plastic-cups-grow6 {
  position: absolute;
  top: 76.54%;
  left: 0;
}
.activities-parent2 {
  height: 35.06%;
  width: 100%;
  top: 64.94%;
  right: 0;
  bottom: 0;
}
.homepage11 {
  top: 27.68%;
}
.about-us11,
.homepage11,
.qa11 {
  position: absolute;
  left: 0;
}
.qa11 {
  width: 100%;
  top: 83.04%;
  display: inline-block;
}
.about-us11 {
  top: 55.36%;
}
.f-green-parent3,
.group-parent25 {
  position: absolute;
  height: 48.48%;
  width: 63.04%;
  top: 0;
  right: 36.96%;
  bottom: 51.52%;
  left: 0;
}
.group-parent25 {
  height: 50.66%;
  width: 14.84%;
  top: 29.61%;
  right: 43.87%;
  bottom: 19.74%;
  left: 41.29%;
}
.logo-trng-i-hc-fptsvg-icon11 {
  position: absolute;
  height: 39.92%;
  width: 83.81%;
  top: 0;
  right: 16.19%;
  bottom: 60.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.the-f-green-website4 {
  position: absolute;
  height: 43.8%;
  width: 100%;
  top: 56.2%;
  left: 0;
  display: inline-block;
}
.logo-trng-i-hc-fptsvg-parent2 {
  position: absolute;
  height: 56.58%;
  width: 25.4%;
  top: 22.81%;
  right: 66.94%;
  bottom: 20.61%;
  left: 7.66%;
  text-align: justify;
}
.phone-number6 {
  font-weight: 500;
}
.phone-number-0123-345-678-container4 {
  position: absolute;
  top: 23.66%;
  left: 0;
}
.address-fpt-university-container4 {
  position: absolute;
  width: 100%;
  top: 70.99%;
  left: 0;
  display: inline-block;
}
.email-fgreengmailcom4 {
  position: absolute;
  top: 47.33%;
  left: 0;
}
.contact-with-us-parent2 {
  position: absolute;
  height: 56.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 43.29%;
  left: 0;
}
.copyright-belongs-to4 {
  position: absolute;
  top: 91.77%;
  left: 0;
  font-weight: 300;
}
.group-parent26 {
  position: absolute;
  height: 50.66%;
  width: 28.55%;
  top: 29.61%;
  right: 5.4%;
  bottom: 19.74%;
  left: 66.05%;
}
.rectangle-parent23 {
  position: absolute;
  top: 3013px;
  left: calc(50% - 620px);
  width: 1240px;
  height: 456px;
  font-size: var(--font-size-base);
}
.done-about-us-child {
  position: absolute;
  top: 114px;
  left: 1px;
  width: 100%;
  height: 738px;
  object-fit: cover;
}
.instance-child32 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-lightgoldenrodyellow);
}
.homepage12 {
  position: relative;
}
.e-events-wrapper5,
.homepage-wrapper5,
.qa-wrapper5,
.trade-plants-wrapper5 {
  position: absolute;
  height: 38.6%;
  width: 10%;
  top: 30.7%;
  right: 68.47%;
  bottom: 30.7%;
  left: 21.53%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.e-events-wrapper5,
.qa-wrapper5,
.trade-plants-wrapper5 {
  width: 8.68%;
  right: 58.4%;
  left: 32.92%;
}
.qa-wrapper5,
.trade-plants-wrapper5 {
  width: 10.83%;
  right: 46.18%;
  left: 42.99%;
}
.qa-wrapper5 {
  width: 5.69%;
  right: 39.1%;
  left: 55.21%;
}
.about-us12 {
  position: relative;
  white-space: pre-wrap;
}
.about-us-wrapper5 {
  width: 9.1%;
  right: 28.61%;
  left: 62.29%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.about-us-wrapper5,
.log-in-wrapper6,
.register-wrapper7 {
  position: absolute;
  height: 38.6%;
  top: 30.7%;
  bottom: 30.7%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.log-in-wrapper6 {
  width: 9.1%;
  right: 14.24%;
  left: 76.67%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.register-wrapper7 {
  width: 5.9%;
  right: 6.94%;
  left: 87.15%;
}
.logo-trng-i-hc-fptsvg-icon12 {
  position: absolute;
  height: 64.91%;
  width: 13.19%;
  top: 19.3%;
  right: 79.86%;
  bottom: 15.79%;
  left: 6.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child38,
.rectangle-parent24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114px;
}
.group-child38 {
  top: 251px;
  left: 684px;
  width: 450px;
  height: 450px;
  object-fit: cover;
}
.environmental-protection {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.f-green-is-committed {
  position: absolute;
  top: 36px;
  left: 6px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 560px;
  height: 78px;
}
.environmental-protection-parent {
  position: absolute;
  top: 181px;
  left: 104px;
  width: 566px;
  height: 114px;
}
.f-green-creates-a {
  position: absolute;
  top: 36px;
  left: 6px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 560px;
  height: 71px;
}
.community-encouragement-parent {
  position: absolute;
  top: 331px;
  left: 104px;
  width: 566px;
  height: 107px;
}
.community-encouragement-group,
.partner-support-parent {
  position: absolute;
  top: 474px;
  left: 104px;
  width: 566px;
  height: 107px;
}
.partner-support-parent {
  top: 617px;
}
.the-f-green-website5 {
  position: absolute;
  top: 70px;
  left: 0;
  display: inline-block;
  width: 751px;
  height: 75px;
}
.core-values {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.core-values-wrapper,
.group-child39 {
  position: absolute;
  top: 0;
  left: 40px;
  width: 334px;
  height: 58px;
}
.group-child39 {
  top: 13px;
  left: 0;
  border-radius: 0 var(--br-81xl) 0 var(--br-81xl);
  background-color: var(--color-darkolivegreen);
  width: 25px;
  height: 33px;
}
.group-parent29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 374px;
  height: 58px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.the-f-green-website-is-a-pione-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 751px;
  height: 145px;
  font-size: var(--font-size-base);
}
.group-parent27,
.group-parent28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 751px;
  height: 724px;
}
.group-parent27 {
  top: 1783px;
  left: 10%;
  width: 1134px;
  text-align: justify;
}
.f-green-applies-advanced {
  position: absolute;
  top: 36px;
  left: 6px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 708px;
  height: 78px;
}
.technology-for-the-environment-parent {
  position: absolute;
  top: 180px;
  left: 106px;
  width: 714px;
  height: 114px;
}
.a-special-feature {
  position: absolute;
  top: 36px;
  left: 6px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 708px;
  height: 75px;
}
.convert-points-into-trees-parent {
  position: absolute;
  top: 330px;
  left: 106px;
  width: 714px;
  height: 111px;
}
.the-f-green-website6 {
  position: absolute;
  top: 36px;
  left: 6px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 708px;
  height: 56px;
}
.committed-to-the-environment-parent,
.support-partners-to-track-cust-parent {
  position: absolute;
  top: 477px;
  left: 106px;
  width: 714px;
  height: 92px;
}
.committed-to-the-environment-parent {
  top: 605px;
  height: 111px;
}
.the-f-green-website7 {
  position: absolute;
  top: 69px;
  left: 0;
  display: inline-block;
  width: 820px;
  height: 75px;
}
.f-green-frame,
.group-parent32 {
  position: absolute;
  top: 0;
  left: 40px;
  width: 212px;
  height: 58px;
}
.group-parent32 {
  left: 0;
  width: 252px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.the-f-green-website-is-a-pione-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 820px;
  height: 144px;
  font-size: var(--font-size-base);
}
.group-parent31 {
  position: absolute;
  top: 0;
  left: 345px;
  width: 820px;
  height: 716px;
}
.pngtreehome-green-plant-bonsa {
  position: absolute;
  top: 213px;
  left: 0;
  width: 450px;
  height: 450px;
  object-fit: cover;
}
.group-parent30 {
  position: absolute;
  top: 947px;
  left: 50%x;
  width: 1165px;
  height: 716px;
  text-align: justify;
}
.sustainable-development-goals-wrapper {
  position: absolute;
  top: 0;
  left: 40px;
  width: 882px;
  height: 58px;
}
.group-child42,
.group-frame,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 922px;
  height: 58px;
}
.group-child42,
.group-wrapper {
  left: 46px;
}
.group-child42 {
  top: 19.1px;
  left: 10.3px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 214.6px;
  height: 103.3px;
}
.environmental-protection1 {
  position: absolute;
  top: 53.2px;
  left: 54.8px;
  font-weight: 600;
  display: inline-block;
  width: 124.8px;
  height: 38.1px;
}
.group-child43,
.group-child44 {
  position: absolute;
  top: 12.7px;
  left: 0;
  border-radius: 0 var(--br-81xl) 0 var(--br-81xl);
  background-color: var(--color-darkolivegreen);
  width: 19.9px;
  height: 26.2px;
}
.group-child44 {
  top: 0;
  left: 42.9px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.rectangle-parent25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 224.9px;
  height: 122.4px;
}
.minimize-plastic-waste {
  position: absolute;
  top: 55.7px;
  left: 64.4px;
  font-weight: 600;
  display: inline-block;
  width: 105.7px;
  height: 38.1px;
}
.group-child48,
.rectangle-parent26 {
  position: absolute;
  top: 55.6px;
  left: 267.8px;
  width: 224.9px;
  height: 122.4px;
}
.group-child48 {
  top: 18.6px;
  left: 10.7px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 214.6px;
  height: 103.3px;
}
.planting-trees {
  position: absolute;
  top: 51.7px;
  left: 64.7px;
  font-weight: 600;
  display: inline-block;
  width: 105.7px;
  height: 38.1px;
}
.group-child51,
.rectangle-parent27 {
  position: absolute;
  top: 4px;
  left: 535.6px;
  width: 225.3px;
  height: 121.9px;
}
.group-child51 {
  top: 19px;
  left: 10.3px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 214.6px;
  height: 103.3px;
}
.raising-community-awareness {
  position: absolute;
  top: 53.2px;
  left: 23px;
  font-weight: 600;
  display: inline-block;
  width: 188.3px;
  height: 38.1px;
}
.rectangle-parent28 {
  position: absolute;
  top: 50.1px;
  left: 803.4px;
  width: 224.9px;
  height: 122.4px;
}
.group-parent33,
.group-parent35 {
  position: absolute;
  top: 138px;
  left: 0;
  width: 1028.3px;
  height: 178px;
  font-size: var(--font-size-base);
}
.group-parent33 {
  top: 2627px;
  left: 10%;
  height: 316px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.done-about-us {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3448px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-inter);
}
