.instance-child59 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-lightgoldenrodyellow);
}
.e-events-wrapper7,
.homepage-wrapper7,
.qa-wrapper7,
.trade-plants-wrapper7 {
  position: absolute;
  height: 38.6%;
  width: 10%;
  top: 30.7%;
  right: 68.47%;
  bottom: 30.7%;
  left: 21.53%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.e-events-wrapper7,
.qa-wrapper7,
.trade-plants-wrapper7 {
  width: 8.68%;
  right: 58.4%;
  left: 32.92%;
}
.qa-wrapper7,
.trade-plants-wrapper7 {
  width: 10.83%;
  right: 46.18%;
  left: 42.99%;
}
.qa-wrapper7 {
  width: 5.69%;
  right: 39.1%;
  left: 55.21%;
}
.about-us15 {
  position: relative;
  white-space: pre-wrap;
}
.about-us-wrapper7 {
  width: 9.1%;
  right: 28.61%;
  left: 62.29%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.about-us-wrapper7,
.log-in-wrapper8,
.register-wrapper9 {
  position: absolute;
  height: 38.6%;
  top: 30.7%;
  bottom: 30.7%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.log-in-wrapper8 {
  width: 9.1%;
  right: 14.24%;
  left: 76.67%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.register-wrapper9 {
  width: 5.9%;
  right: 6.94%;
  left: 87.15%;
}
.logo-trng-i-hc-fptsvg-icon15 {
  position: absolute;
  height: 64.91%;
  width: 13.19%;
  top: 19.3%;
  right: 79.86%;
  bottom: 15.79%;
  left: 6.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent43 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114px;
  text-align: left;
  font-size: var(--font-size-xl);
}
.instance-child60 {
  position: absolute;
  height: 78.07%;
  width: 100%;
  top: 14.91%;
  right: 0;
  bottom: 7.02%;
  left: 0;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
}
.activities6 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.e-events16 {
  position: absolute;
  top: 38.27%;
  left: 0;
}
.activities-parent4,
.plastic-cups-grow8 {
  position: absolute;
  top: 76.54%;
  left: 0;
}
.activities-parent4 {
  height: 35.06%;
  width: 100%;
  top: 64.94%;
  right: 0;
  bottom: 0;
}
.homepage16 {
  top: 27.68%;
}
.about-us16,
.homepage16,
.qa16 {
  position: absolute;
  left: 0;
}
.qa16 {
  width: 100%;
  top: 83.04%;
  display: inline-block;
}
.about-us16 {
  top: 55.36%;
}
.f-green-parent5,
.group-parent39 {
  position: absolute;
  height: 48.48%;
  width: 63.04%;
  top: 0;
  right: 36.96%;
  bottom: 51.52%;
  left: 0;
}
.group-parent39 {
  height: 50.66%;
  width: 14.84%;
  top: 29.61%;
  right: 43.87%;
  bottom: 19.74%;
  left: 41.29%;
}
.logo-trng-i-hc-fptsvg-icon16 {
  position: absolute;
  height: 39.92%;
  width: 83.81%;
  top: 0;
  right: 16.19%;
  bottom: 60.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.the-f-green-website9 {
  position: absolute;
  height: 43.8%;
  width: 100%;
  top: 56.2%;
  left: 0;
  display: inline-block;
}
.logo-trng-i-hc-fptsvg-parent4 {
  position: absolute;
  height: 56.58%;
  width: 25.4%;
  top: 22.81%;
  right: 66.94%;
  bottom: 20.61%;
  left: 7.66%;
  text-align: justify;
}
.phone-number8 {
  font-weight: 500;
}
.phone-number-0123-345-678-container6 {
  position: absolute;
  top: 23.66%;
  left: 0;
}
.address-fpt-university-container6 {
  position: absolute;
  width: 100%;
  top: 70.99%;
  left: 0;
  display: inline-block;
}
.email-fgreengmailcom6 {
  position: absolute;
  top: 47.33%;
  left: 0;
}
.contact-with-us-parent4 {
  position: absolute;
  height: 56.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 43.29%;
  left: 0;
}
.copyright-belongs-to6 {
  position: absolute;
  top: 91.77%;
  left: 0;
  font-weight: 300;
}
.group-parent40 {
  position: absolute;
  height: 50.66%;
  width: 28.55%;
  top: 29.61%;
  right: 5.4%;
  bottom: 19.74%;
  left: 66.05%;
}
.rectangle-parent44 {
  position: absolute;
  top: 2735px;
  left: calc(50% - 620px);
  width: 1240px;
  height: 456px;
  text-align: left;
}
.done-e-event-inner,
.done-e-event-item {
  position: absolute;
  top: 1161px;
  left: 183px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-14xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgoldenrodyellow);
  box-sizing: border-box;
  width: 679px;
  height: 168px;
}
.done-e-event-inner {
  top: 1355px;
  left: 186px;
  height: 732px;
}
.event3 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.event-wrapper1,
.group-child66 {
  position: absolute;
  top: 0;
  left: 35.7px;
  width: 121px;
  height: 44px;
}
.group-child66 {
  top: 11px;
  left: 0;
  border-radius: 0 var(--br-81xl) 0 var(--br-81xl);
  background-color: var(--color-darkolivegreen);
  width: 16.9px;
  height: 22.3px;
}
.group-parent42 {
  position: absolute;
  top: 0;
  left: 291px;
  width: 156.7px;
  height: 44px;
}
.for-national-green {
  position: absolute;
  top: 58px;
  left: 0;
  font-weight: 600;
}
.group-parent41 {
  position: absolute;
  top: 994px;
  left: 317px;
  width: 773px;
  height: 102px;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.icround-people-alt-parent21 {
  position: absolute;
  height: 22.52%;
  width: 35%;
  top: 22.85%;
  right: 65%;
  bottom: 54.63%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.icbaseline-person-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.event-of-for {
  position: relative;
}
.icbaseline-person-parent,
.mdilocation-parent,
.riearth-fill-parent {
  position: absolute;
  top: calc(50% - 61.5px);
  left: calc(50% - 190px);
  width: 380px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.mdilocation-parent,
.riearth-fill-parent {
  top: calc(50% + 30.5px);
  left: calc(50% - 185px);
  width: 82px;
}
.mdilocation-parent {
  top: calc(50% - 1.5px);
  width: 254px;
}
.frame-parent {
  position: absolute;
  height: 3.88%;
  width: 26.39%;
  top: 37.57%;
  right: 58.06%;
  bottom: 58.55%;
  left: 15.56%;
}
.with-a-humanistic {
  margin: 0;
}
.with-a-humanistic-container {
  position: absolute;
  top: 1385px;
  left: 212px;
  display: inline-block;
  width: 624px;
  height: 502px;
}
.little-soldiers-of-container,
.streaming {
  position: absolute;
  height: 33.63%;
  width: 73.95%;
  top: 21.21%;
  left: 16.78%;
  display: inline-block;
}
.streaming {
  height: 15.97%;
  width: 24.65%;
  top: 6.05%;
  left: 17.17%;
  font-size: var(--font-size-mini);
  color: var(--color-crimson);
}
.material-symbolsstar-parent10 {
  height: 26.61%;
  top: 73.39%;
  bottom: 0;
  left: calc(50% - 119.5px);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 152px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-3xs);
}
.component-child,
.material-symbolsstar-parent10,
.mdishare-parent22 {
  position: absolute;
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
}
.mdishare-parent22 {
  height: 27.42%;
  width: 27.45%;
  top: 73.39%;
  right: 11.48%;
  bottom: -0.81%;
  left: 61.06%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-8xs);
}
.component-child {
  height: 110.48%;
  width: 100%;
  top: -2.42%;
  right: 0;
  bottom: -8.06%;
  left: 0;
  border-radius: var(--br-smi);
}
.component-item {
  position: absolute;
  height: 36.94%;
  width: 11.32%;
  top: 6.05%;
  right: 86.61%;
  bottom: 57.02%;
  left: 2.07%;
  border-radius: var(--br-4xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.a-luoi-hue {
  position: absolute;
  height: 15.97%;
  width: 21.57%;
  top: 53.31%;
  left: 17.17%;
  font-size: var(--font-size-mini);
  display: inline-block;
}
.little-soldiers-of-the-planet-group,
.little-soldiers-of-the-planet-parent {
  position: absolute;
  top: 1499px;
  left: 898px;
  width: 357px;
  height: 124px;
}
.little-soldiers-of-the-planet-group {
  top: 1651px;
}
.ellipse-icon,
.little-soldiers-of-the-planet-container,
.little-soldiers-of-the-planet-parent1 {
  position: absolute;
  top: 1803px;
  left: 898px;
  width: 357px;
  height: 124px;
}
.ellipse-icon,
.little-soldiers-of-the-planet-parent1 {
  top: 1955px;
}
.ellipse-icon {
  top: 1161px;
  left: 948px;
  border-radius: 50%;
  width: 257px;
  height: 257px;
  object-fit: cover;
}
.done-e-event-child1 {
  position: absolute;
  top: 2148px;
  left: 186px;
  border-radius: 60px;
  background-color: var(--color-gainsboro);
  width: 1069px;
  height: 537px;
}
.done-e-event-child2 {
  position: absolute;
  top: 114px;
  left: 1px;
  width: 100%;
  height: 26%;
  object-fit: cover;
}
.done-e-event1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3170px;
  overflow: hidden;
  text-align: justify;
  font-size: var(--font-size-base);
  color: var(--color-darkolivegreen);
  font-family: var(--font-inter);
}
