.instance-child69 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-lightgoldenrodyellow);
}
.homepage19 {
  position: relative;
}
.e-events-wrapper9,
.homepage-wrapper9,
.qa-wrapper9,
.trade-plants-wrapper9 {
  position: absolute;
  height: 38.6%;
  width: 10%;
  top: 30.7%;
  right: 68.47%;
  bottom: 30.7%;
  left: 21.53%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.e-events-wrapper9,
.qa-wrapper9,
.trade-plants-wrapper9 {
  width: 8.68%;
  right: 58.4%;
  left: 32.92%;
}
.qa-wrapper9,
.trade-plants-wrapper9 {
  width: 10.83%;
  right: 46.18%;
  left: 42.99%;
}
.qa-wrapper9 {
  width: 5.69%;
  right: 39.1%;
  left: 55.21%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.about-us19 {
  position: relative;
  white-space: pre-wrap;
}
.about-us-wrapper9 {
  width: 9.1%;
  right: 28.61%;
  left: 62.29%;
}
.about-us-wrapper9,
.log-in-wrapper10,
.register-wrapper11 {
  position: absolute;
  height: 38.6%;
  top: 30.7%;
  bottom: 30.7%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.log-in-wrapper10 {
  width: 9.1%;
  right: 14.24%;
  left: 76.67%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.register-wrapper11 {
  width: 5.9%;
  right: 6.94%;
  left: 87.15%;
}
.logo-trng-i-hc-fptsvg-icon19 {
  position: absolute;
  height: 64.91%;
  width: 13.19%;
  top: 19.3%;
  right: 79.86%;
  bottom: 15.79%;
  left: 6.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent48 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114px;
  font-size: var(--font-size-xl);
}
.instance-child70 {
  position: absolute;
  height: 78.07%;
  width: 100%;
  top: 14.91%;
  right: 0;
  bottom: 7.02%;
  left: 0;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
}
.activities8 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.e-events20 {
  position: absolute;
  top: 38.27%;
  left: 0;
}
.activities-parent6,
.plastic-cups-grow10 {
  position: absolute;
  top: 76.54%;
  left: 0;
}
.activities-parent6 {
  height: 35.06%;
  width: 100%;
  top: 64.94%;
  right: 0;
  bottom: 0;
}
.homepage20 {
  top: 27.68%;
}
.about-us20,
.homepage20,
.qa20 {
  position: absolute;
  left: 0;
}
.qa20 {
  width: 100%;
  top: 83.04%;
  display: inline-block;
}
.about-us20 {
  top: 55.36%;
}
.f-green-parent7,
.group-parent47 {
  position: absolute;
  height: 48.48%;
  width: 63.04%;
  top: 0;
  right: 36.96%;
  bottom: 51.52%;
  left: 0;
}
.group-parent47 {
  height: 50.66%;
  width: 14.84%;
  top: 29.61%;
  right: 43.87%;
  bottom: 19.74%;
  left: 41.29%;
}
.logo-trng-i-hc-fptsvg-icon20 {
  position: absolute;
  height: 39.92%;
  width: 83.81%;
  top: 0;
  right: 16.19%;
  bottom: 60.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.the-f-green-website11 {
  position: absolute;
  height: 43.8%;
  width: 100%;
  top: 56.2%;
  left: 0;
  display: inline-block;
}
.logo-trng-i-hc-fptsvg-parent6 {
  position: absolute;
  height: 56.58%;
  width: 25.4%;
  top: 22.81%;
  right: 66.94%;
  bottom: 20.61%;
  left: 7.66%;
  text-align: justify;
}
.phone-number10 {
  font-weight: 500;
}
.phone-number-0123-345-678-container8 {
  position: absolute;
  top: 23.66%;
  left: 0;
}
.address-fpt-university-container8 {
  position: absolute;
  width: 100%;
  top: 70.99%;
  left: 0;
  display: inline-block;
}
.email-fgreengmailcom8 {
  position: absolute;
  top: 47.33%;
  left: 0;
}
.contact-with-us-parent6 {
  position: absolute;
  height: 56.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 43.29%;
  left: 0;
}
.copyright-belongs-to8 {
  position: absolute;
  top: 91.77%;
  left: 0;
  font-weight: 300;
}
.group-parent48 {
  position: absolute;
  height: 50.66%;
  width: 28.55%;
  top: 29.61%;
  right: 5.4%;
  bottom: 19.74%;
  left: 66.05%;
}
.rectangle-parent49 {
  position: absolute;
  top: 2006.2px;
  left: calc(50% - 620px);
  width: 1240px;
  height: 456px;
}
.component-3-child {
  position: absolute;
  height: 72.53%;
  width: 67.42%;
  top: 13.74%;
  right: 32.58%;
  bottom: 13.74%;
  left: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-24xl);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-lightgoldenrodyellow);
  box-sizing: border-box;
}
.am,
.what-are-the {
  position: absolute;
  left: 4.67%;
}
.what-are-the {
  top: 39.56%;
  font-weight: 600;
}
.am {
  top: 56.59%;
  font-size: var(--font-size-xl);
}
.component-3-item {
  position: absolute;
  height: 13.19%;
  width: 1.52%;
  top: 43.41%;
  right: 35.29%;
  bottom: 43.41%;
  left: 63.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-3 {
  position: absolute;
  top: 288px;
  left: 185px;
  width: 1584px;
  height: 182px;
}
.am1 {
  position: absolute;
  top: 56.59%;
  left: 4.67%;
  font-size: var(--font-size-xs);
}
.component-10,
.component-11,
.component-4,
.component-5,
.component-9 {
  position: absolute;
  top: 470px;
  left: 185px;
  width: 1584px;
  height: 182px;
}
.component-10,
.component-11,
.component-5,
.component-9 {
  top: 652px;
}
.component-10,
.component-11,
.component-9 {
  top: 1536px;
}
.component-10,
.component-11 {
  top: 1354px;
}
.component-11 {
  top: 1718px;
}
.pngtreecactus-artifical-plant {
  position: absolute;
  top: 958px;
  left: 1005px;
  width: 287px;
  height: 287px;
  object-fit: cover;
}
.group-child69,
.group-child70,
.group-child71,
.group-child72 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightgoldenrodyellow);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 49.2px;
  height: 49.2px;
}
.group-child70,
.group-child71,
.group-child72 {
  left: 62px;
  background-color: var(--color-white);
}
.group-child71,
.group-child72 {
  left: 125px;
}
.group-child72 {
  left: 187px;
}
.div10,
.div11,
.div12,
.div9 {
  position: absolute;
  top: 15px;
  left: 21px;
}
.div10,
.div11,
.div12 {
  left: 82px;
}
.div11,
.div12 {
  left: 144px;
}
.div12 {
  left: 204px;
}
.done-qa-inner,
.rectangle-parent50 {
  position: absolute;
  top: 0;
  left: 0;
  width: 236.2px;
  height: 49.2px;
}
.done-qa-inner {
  top: 1924px;
  left: 602px;
}
.instance-child71,
.pm {
  position: absolute;
  left: 0;
}
.instance-child71 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-24xl);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-lightgoldenrodyellow);
  box-sizing: border-box;
}
.pm {
  top: 67.39%;
  font-size: var(--font-size-xs);
}
.what-are-the-effects-of-ocean-parent {
  position: absolute;
  height: 34.85%;
  width: 55.82%;
  top: 32.58%;
  right: 34.92%;
  bottom: 32.58%;
  left: 9.26%;
}
.instance-child72 {
  position: absolute;
  height: 18.18%;
  width: 3%;
  top: 40.91%;
  right: 6.63%;
  bottom: 40.91%;
  left: 90.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent51,
.rectangle-parent52,
.rectangle-parent53 {
  position: absolute;
  top: 851px;
  left: 185px;
  width: 799px;
  height: 132px;
}
.rectangle-parent52,
.rectangle-parent53 {
  top: 1028px;
}
.rectangle-parent53 {
  top: 1205px;
}
.qa21 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.group-child73,
.qa-wrapper10 {
  position: absolute;
  top: 0;
  left: 35px;
  width: 104px;
  height: 58px;
}
.group-child73 {
  top: 12.8px;
  left: 0;
  border-radius: 0 var(--br-81xl) 0 var(--br-81xl);
  background-color: var(--color-darkolivegreen);
  width: 18.8px;
  height: 24.8px;
}
.group-parent49 {
  position: absolute;
  top: 205px;
  left: 610px;
  width: 139px;
  height: 58px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.done-qa {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2441px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkolivegreen);
  font-family: var(--font-inter);
}
