.instance-child77 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-lightgoldenrodyellow);
}
.homepage21 {
  position: relative;
}
.e-events-wrapper10,
.homepage-wrapper10,
.qa-wrapper11,
.trade-plants-wrapper10 {
  position: absolute;
  height: 38.6%;
  width: 10%;
  top: 30.7%;
  right: 68.47%;
  bottom: 30.7%;
  left: 21.53%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.e-events-wrapper10,
.qa-wrapper11,
.trade-plants-wrapper10 {
  width: 8.68%;
  right: 58.4%;
  left: 32.92%;
}
.qa-wrapper11,
.trade-plants-wrapper10 {
  width: 10.83%;
  right: 46.18%;
  left: 42.99%;
}
.qa-wrapper11 {
  width: 5.69%;
  right: 39.1%;
  left: 55.21%;
}
.about-us21 {
  position: relative;
  white-space: pre-wrap;
}
.about-us-wrapper10 {
  width: 9.1%;
  right: 28.61%;
  left: 62.29%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.about-us-wrapper10,
.log-in-wrapper11,
.register-wrapper12 {
  position: absolute;
  height: 38.6%;
  top: 30.7%;
  bottom: 30.7%;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
}
.log-in-wrapper11 {
  width: 9.1%;
  right: 14.24%;
  left: 76.67%;
  background-color: var(--color-darkolivegreen);
  color: var(--color-white);
}
.register-wrapper12 {
  width: 5.9%;
  right: 6.94%;
  left: 87.15%;
}
.logo-trng-i-hc-fptsvg-icon21 {
  position: absolute;
  height: 64.91%;
  width: 13.19%;
  top: 19.3%;
  right: 79.86%;
  bottom: 15.79%;
  left: 6.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child74,
.rectangle-parent54 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 114px;
}
.group-child74 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-24xl);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 1164px;
  height: 381px;
}
.what-are-the9 {
  position: absolute;
  top: 56px;
  left: 49px;
  font-weight: 600;
  display: inline-block;
  width: 438px;
  height: 24px;
}
.posted-on-7112024 {
  position: absolute;
  top: 90px;
  left: 49px;
  font-size: var(--font-size-xs);
}
.burning-fossil-fuels {
  font-weight: 500;
}
.burning-fossil-fuels,
.which-reduces-the {
  font-family: var(--font-inter);
}
.deforestation-which-reduces-t {
  margin-bottom: 0;
}
.burning-fossil-fuels-coal-oi {
  margin: 0;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.burning-fossil-fuels-container {
  position: absolute;
  top: 192px;
  left: 69px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 677px;
}
.answer {
  position: absolute;
  top: 145px;
  left: 49px;
  font-weight: 600;
}
.pngtreegreen-plant-bonsai-44566 {
  position: absolute;
  top: 42px;
  left: 823px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.rectangle-parent55 {
  position: absolute;
  top: 295px;
  left: 136px;
  width: 1164px;
  height: 381px;
}
.instance-child78 {
  position: absolute;
  height: 78.07%;
  width: 100%;
  top: 14.91%;
  right: 0;
  bottom: 7.02%;
  left: 0;
  border-radius: var(--br-31xl);
  border: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
}
.activities9 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.e-events22 {
  position: absolute;
  top: 38.27%;
  left: 0;
}
.activities-parent7,
.plastic-cups-grow11 {
  position: absolute;
  top: 76.54%;
  left: 0;
}
.activities-parent7 {
  height: 35.06%;
  width: 100%;
  top: 64.94%;
  right: 0;
  bottom: 0;
}
.homepage22 {
  top: 27.68%;
}
.about-us22,
.homepage22,
.qa23 {
  position: absolute;
  left: 0;
}
.qa23 {
  width: 100%;
  top: 83.04%;
  display: inline-block;
}
.about-us22 {
  top: 55.36%;
}
.f-green-parent8,
.group-parent50 {
  position: absolute;
  height: 48.48%;
  width: 63.04%;
  top: 0;
  right: 36.96%;
  bottom: 51.52%;
  left: 0;
}
.group-parent50 {
  height: 50.66%;
  width: 14.84%;
  top: 29.61%;
  right: 43.87%;
  bottom: 19.74%;
  left: 41.29%;
}
.logo-trng-i-hc-fptsvg-icon22 {
  position: absolute;
  height: 39.92%;
  width: 83.81%;
  top: 0;
  right: 16.19%;
  bottom: 60.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.the-f-green-website12 {
  position: absolute;
  height: 43.8%;
  width: 100%;
  top: 56.2%;
  left: 0;
  display: inline-block;
}
.logo-trng-i-hc-fptsvg-parent7 {
  position: absolute;
  height: 56.58%;
  width: 25.4%;
  top: 22.81%;
  right: 66.94%;
  bottom: 20.61%;
  left: 7.66%;
  text-align: justify;
}
.phone-number11 {
  font-weight: 500;
}
.phone-number-0123-345-678-container9 {
  position: absolute;
  top: 23.66%;
  left: 0;
}
.address-fpt-university-container9 {
  position: absolute;
  width: 100%;
  top: 70.99%;
  left: 0;
  display: inline-block;
}
.email-fgreengmailcom9 {
  position: absolute;
  top: 47.33%;
  left: 0;
}
.contact-with-us-parent7 {
  position: absolute;
  height: 56.71%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 43.29%;
  left: 0;
}
.copyright-belongs-to9 {
  position: absolute;
  top: 91.77%;
  left: 0;
  font-weight: 300;
}
.group-parent51 {
  position: absolute;
  height: 50.66%;
  width: 28.55%;
  top: 29.61%;
  right: 5.4%;
  bottom: 19.74%;
  left: 66.05%;
}
.rectangle-parent56 {
  position: absolute;
  top: 746px;
  left: 100px;
  width: 1240px;
  height: 456px;
  font-size: var(--font-size-base);
}
.qa24 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.group-child75,
.qa-wrapper12 {
  position: absolute;
  top: 0;
  left: 35px;
  width: 104px;
  height: 58px;
}
.group-child75 {
  top: 12.8px;
  left: 0;
  border-radius: 0 var(--br-81xl) 0 var(--br-81xl);
  background-color: var(--color-darkolivegreen);
  width: 18.8px;
  height: 24.8px;
}
.group-parent52 {
  position: absolute;
  top: 205px;
  left: 610px;
  width: 139px;
  height: 58px;
  text-align: center;
  font-size: var(--font-size-29xl);
}
.done-qa1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1183px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-inter);
}
